.events {
  padding: 20px;
}

.eventListings {
  margin-top: -200px;
  padding: 200px;
}

.buttonCenter {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.createEventButton {
  margin-bottom: 7px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.createEventButton:hover {
  background-color: #1dd771;
}

.eventCenterEvent {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
}

.eventModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.eventModalContent {
  background-color: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

.eventModalContent input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.eventCenter {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.eventModalSubmitButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.eventModalSubmitButton:hover {
  background-color: #45a049;
}

.eventModalCloseButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 15px;
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.eventModalCloseButton:hover {
  background-color: #d32f2f;
}

@media (max-width: 768px) {
  .createEventButton {
    width: 50%;
    padding: 12px;
  }

  .events {
    padding: 10px;
  }

  .eventListings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eventCenterEvent {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .createEventButton {
    width: 80%;
    padding: 10px;
  }

  .eventCenterEvent {
    font-size: 24px;
  }

  .eventListings {
    padding: 10px;
    margin-top: auto;
  }

  .events {
    padding: 5px;
  }
}