.searchBar {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchInput {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.searchButton {
  margin-left: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #4caf50;
}