.tipsPage {
  padding: 20px;
  text-align: center;
  font-family: 'Jua', sans-serif;
}

.randomTip {
  margin: 20px auto;
  padding: 15px;
  width: 60%;
  background-color: #f4f6f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.randomTip h2 {
  color: #ff7f50;
}

.tipsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tipCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 10px 0;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  flex-direction: column;
}

.tipCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.tipContent {
  flex: 1;
  text-align: center;
  margin-right: 10px;
}

.tipPoster {
  color: #777;
  font-size: 14px;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding: 5px;
  transition: background-color 0.2s ease;
}

.deleteButton:hover {
  background-color: #e0e0e0;
}

.deleteButton svg {
  margin-left: 10px;
}

.createTipButton {
  padding: 10px 20px;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.createTipButton:hover {
  background-color: #ff6347;
  transform: scale(1.05);
}

.createTipForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  width: 60%;
  background-color: #f4f6f9;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.createTipInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submitTipButton,
.cancelTipButton {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submitTipButton {
  background-color: #4CAF50;
  color: white;
}

.submitTipButton:hover {
  background-color: #45a049;
}

.cancelTipButton {
  background-color: #f44336;
  color: white;
}

.cancelTipButton:hover {
  background-color: #d32f2f;
}

.viewFullContentLink {
  color: #007BFF;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
  border: none;
  background-color: white;
  font-family: inherit;
}

.viewFullContentLink:hover {
  color: #0056b3;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 80%;
}

.modalClose {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .tipCard,
  .createTipForm,
  .randomTip {
    width: 90%;
  }
}