.events {
  padding: 20px;
}

.event-listings {
  margin-top: -200px;
  padding:200px;
}

.button-center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.create-event-button {
  margin-bottom: 7px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.create-event-button:hover {
  background-color: #1dd771;
}

.event-center {
  text-align: center;
}

.event-center-event {
  margin-top: 5px;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 768px) {
  .create-event-button {
    width: 50%;
    padding: 15px;
  }

  .events {
    padding: 10px;
  }
}
.event-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.event-modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.event-modal-content form {
  display: flex;
  flex-direction: column;
}

.event-modal-content input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 95%;
}

.event-modal-submit-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width:50%;
}

.event-modal-submit-button:hover {
  background-color: #218838;
}

.event-modal-close-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width:50%;
}

.event-modal-close-button:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .event-modal-content {
    width: 100%;
    padding: 15px;
  }

  .event-modal-submit-button,
  .event-modal-close-button {
    padding: 12px;
    font-size: 18px;
  }
  .event-modal-submit-button{
    width: 50%;
  }

  .event-modal-content input {
    padding: 12px;
    font-size: 18px;
  }

  .event-modal-content h2 {
    font-size: 24px;
  }
}

@media (max-width: 640px) {
  .event-modal-content {
    width: 100%;
    padding: 15px;
    margin-top: 170px; 
  }

  .event-modal-content input {
    padding: 8px;
    font-size: 14px; 
  }

  .event-modal-submit-button,
  .event-modal-close-button {
    padding: 10px;
    font-size: 14px;
  }

  .event-modal-content h2 {
    font-size: 20px;
  }
}

