.events {
  padding: 20px;
}

.event-listings {
  margin-top: -200px;
  padding: 200px;

}

.button-center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.create-event-button {
  margin-bottom: 7px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.create-event-button:hover {
  background-color: #1dd771;
}

.event-center-event {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 768px) {
  .create-event-button {
    width: 50%;
    padding: 12px;
  }

  .events {
    padding: 10px;
  }

  .event-listings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .event-center-event {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .create-event-button {
    width: 80%;
    padding: 10px;
  }

  .event-center-event {
    font-size: 24px;
  }

  .event-listings {
    padding: 10px;
    margin-top: auto;
  }

  .events {
    padding: 5px;
  }
}
