@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  font-family: 'Jua', sans-serif;
  background-color: rgba(168, 237, 215, 0.2);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
}

.login-text-center {
  text-align: center;
}

.login-custom-image {
  width: 80%;
  height: auto;
  max-width: 550px;
  margin-top: 20px;
}

.login-bg-white {
  background-color: #fff;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-header {
  font-size: 1.75rem;
  text-align: center;
  color: #2d3748;
}

.login-error {
  color: red;
  text-align: center;
}

.login-input-box {
  width: 95%;
  height: 48px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  text-align: center;
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-family: 'Jua', sans-serif;
}

.login-submit-button {
  width: 50%;
  height: 40px;
  background-color: #38a169;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.login-submit-button:hover {
  background-color: #2f855a;
}

.login-links {
  margin-top: 16px;
  text-align: center;
}

.login-link {
  color: #4299e1;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.login-custom-image {
  width: 100%;
}

@media (max-width: 1024px) {
  .login-header {
    font-size: 1.5rem;
  }

  .login-input-box {
    font-size: 1rem;
  }

  .login-submit-button {
    font-size: 0.875rem;
  }
  .login-custom-image {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .login-bg-white {
    padding: 24px;
    max-width: 350px; /* Slight reduction in width for smaller screens */
  }

  .login-header {
    font-size: 1.5rem;
  }

  .login-input-box {
    height: 40px;
    width: 90%; /* Reduced width for better fit */
    font-size: 1rem;
  }

  .login-submit-button {
    height: 36px;
    font-size: 0.875rem;
    width: 60%; /* Adjust button size */
  }

  .login-custom-image {
    width: 90%;
    margin-top: 10px; /* Reduce margin for smaller screens */
  }
}

@media (max-width: 480px) {
  .login-header {
    font-size: 1.25rem;
  }
  
  .login-bg-white {
    padding: 16px;
    width: 90%; /* Make sure form doesn't shrink too much */
  }

  .login-input-box {
    height: 38px;
    font-size: 0.9rem;
    width: 90%;
  }

  .login-submit-button {
    height: 34px;
    font-size: 0.8rem;
    width: 70%; /* Smaller button for tiny screens */
  }

  .login-custom-image {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .login-header {
    font-size: 1rem;
  }

  .login-input-box {
    height: 35px;
    font-size: 0.8rem;
  }

  .login-submit-button {
    height: 32px;
    font-size: 0.75rem;
  }

  .login-custom-image {
    max-width: 300px;
  }
}
