/*
Agnihotram, Anand Manohar – 1002149690
Ankireddy, Gurusai Ravi Raja Reddy – 1002138944
Addepalli, Sravani – 1002148407
Konduru Balakrishna, Hanish – 1002175225
Akepati, Prem Nandhan Reddy - 1002170918
*/

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  font-family: 'Jua', sans-serif;
  background-color: rgba(168, 237, 215, 0.2);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.register-min-h-screen {
  min-height: 100vh;
}

.register-p-4 {
  padding: 16px;
}

.register-custom-image {
  width: 100%;
  height: auto;
  max-width: 550px;
  margin-top: 20px;
  margin-bottom: 24px;
}

.register-bg-white {
  background-color: #fff;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  text-align: center;
  color: #2d3748;
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
}

.register-input-box {
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 6px;
  font-size: 1.25rem;
  border: 1px solid #ddd;
  text-align: center;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
}

.register-submit-button {
  width: 50%;
  height: 40px;
  font-size: 1rem;
  background-color: #38a169;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.register-submit-button:hover {
  background-color: #2f855a;
}

.register-text-blue-500 {
  color: #4299e1;
}

.register-text-center {
  text-align: center;
}

.register-hover-underline:hover {
  text-decoration: underline;
}

.register-mt-4 {
  margin-top: 16px;
}

@media (max-width: 768px) {
  .register-text-4xl {
    font-size: 1.5rem;
  }

  .register-md-text-5xl {
    font-size: 2rem;
  }

  .register-input-box {
    font-size: 1rem;
    width: 95%;
  }

  .register-submit-button {
    font-size: 0.875rem;
  }
}