.tips-tips-page {
  padding: 20px;
  text-align: center;
}

.tips-random-tip {
  margin: 20px auto;
  width: 60%;
  padding: 15px;
  background-color: #f4f6f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tips-random-tip h2 {
  color: #ff7f50;
}

.tips-tip-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.tips-tip-card:hover {
  transform: scale(1.05);
}

.tips-tip-content {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.tips-tip-poster {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tips-carousel-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
}

.tips-carousel-container::-webkit-scrollbar {
  display: none;
}

.tips-carousel-container .tips-tip-card {
  flex: 0 0 300px;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .tips-carousel-container .tips-tip-card {
      flex: 0 0 250px;
  }
}
